<!-- FOOTER section -->
<footer class="layout-1">
  <div class="divider divider--lg visible-xs"></div>

  <div class="loop-wrapper">
    <h2>FREE SHIPPING, FREE RETURNS</h2>
    <h3>No Minimum • No Code • 24/7</h3>
    <div class="mountain"></div>
    <div class="hill"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="tree"></div>
    <div class="rock"></div>
    <div class="truck"></div>
    <div class="wheels"></div>
  </div>

  <!-- footer-data -->
  <div class="container inset-bottom-60">
    <div class="row">
      <div class="col-md-9 col-sm-12 visible-md visible-sm visible-xs">
        {% if settings.showfooternewsletter %}<div class="subscribe-box">
          {% if settings.mailchimp_form_action != "" %}
          <h3 class="text-left  title-under">{{ "newsletter.general.title" | t }}</h3>
          <div class="top-newsletter">
            <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
              <div class="subscribe-form__element clearfix">
                <input type="text" name="EMAIL" class="subscribe-form__input" placeholder="Your Email"><button type="submit" class="btn btn--ys btn--xl fa fa-location-arrow"></button>
              </div>
            </form>
          </div>
          {% else %}
          <strong><u>Add newsletter redirect link in Newsletter / MailChimp form action URL</u></strong>
          {% endif %}
        </div>{% endif %}
      </div>
    </div>

    {% if settings.show_footer_soc_but %}<!-- social-icon --><div class="divider divider--md"></div>
    <div class="social-links social-links--large social-links-layout-02 visible-md visible-sm visible-xs">
      <ul>{{ settings.footer_soc_but }}</ul>
    </div><!-- /social-icon -->{% endif %}

    {% if settings.show_top_line_d6 and settings.show_fotter_content1_design6 and settings.footer_text1_design6 != '' %}<hr class="hidden-xs" style="margin: 0 0 72px 0;">{% endif %}
    {% if settings.show_fotter_content1_design6 and settings.footer_text1_design6 != '' %}<div class="row">
      <div class="divider divider--sm"></div>
      {{ settings.footer_text1_design6 }}
      <div class="divider divider--lg"></div>
    </div>{% endif %}
    {% if settings.show_top_line_d6 or settings.show_fotter_content1_design6 and settings.footer_text1_design6 != '' %}<hr class="hidden-xs" style="margin: 0 0 72px 0;">{% endif %}
    <div class="row" >
      
      {% if settings.showfooternewsletter == false and settings.show_footer_soc_but == false %}
      {% include "footer-column-links" %}
      {% else %}
      
      {% if settings.tabBlockAll %}
      {% assign all = false %}{% assign grid = 0 %}{% for i in (1..3) %}{% assign access = 'tabBlock' | append: forloop.index %}{% if settings[access] %}{% assign grid = grid | plus: 1 %}{% endif %}{% endfor %}

      {% if grid > 0 %}
      {% if grid == 3 %}
      {% assign class = "col-sm-4 col-md-4 col-lg-3 col-xl-3" %}
      {% endif %}
      {% if grid == 2 %}
      {% assign class = "col-sm-6 col-md-6 col-lg-4 col-xl-3" %}
      {% endif %}
      {% if grid == 1 %}
      {% assign class = "col-sm-3 col-md-5 col-lg-8 col-xl-9" %}
      {% endif %}
      {% endif %}
      
      {% if grid > 0 %}
      {% for i in (1..3) %}
      {% assign access = 'tabBlock' | append: forloop.index %}
      {% if settings[access] %}
      {% assign title = 'blockName' | append: forloop.index %}
      {% assign footerLinks = 'footer-links-' | append: forloop.index %}
      {% if class == "col-sm-4 col-md-4 col-lg-3 col-xl-3" and forloop.index == 3 %}{% assign class = "col-sm-4 col-md-4 col-lg-2 col-xl-3" %}{% endif %}
      <div class="{{ class }}">{% include "footer-links" %}</div>
      {% endif %}{% endfor %}{% endif %}
	  {% endif %}
      
      {% if settings.showfooternewsletter and grid > 1 or settings.show_footer_soc_but and grid > 1 %}<div class="divider divider--lg visible-md visible-sm"></div>{% endif %}
      {% if settings.showfooternewsletter or settings.show_footer_soc_but %}<div class="{% if settings.tabBlockAll %}col-sm-9 col-md-7 col-lg-4  col-xl-3 visible-lg{% else %}col-sm-12 col-md-12 col-lg-12  col-xl-12{% endif %}">
        {% if settings.showfooternewsletter %}<div class="subscribe-box">
          <div class="mobile-collapse">
            {% if settings.mailchimp_form_action != "" %}
            <h3 class="text-left  title-under  mobile-collapse__title">{{ "newsletter.general.title" | t }}</h3>
            <div class="mobile-collapse__content">
              <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline" style="display: flex;">
                <input type="text" name="EMAIL" class="subscribe-form__input" placeholder="Your Email">
                <button type="submit" class="btn btn--ys btn--xl">{{ "newsletter.general.button" | t }}</button>
              </form>
            </div>
            {% else %}
            <strong><u>Add newsletter redirect link in Newsletter / MailChimp form action URL</u></strong>
            {% endif %}
          </div>
        </div>{% endif %}
        {% if settings.show_footer_soc_but %}<!-- social-icon --><div class="divider divider--md"></div>
        <div class="social-links social-links--large social-links-layout-02">
          <ul>{{ settings.footer_soc_but }}</ul>
        </div><!-- /social-icon -->{% endif %}
      </div>{% endif %}
      {% endif %}
    </div>
  </div>
  
  <div class="divider divider-md visible-sm"></div>
  <!-- footer-copyright -->
  <div class="container footer-copyright">
    <div class="row">{{ settings.footer_address }}</div>
  </div>
  <!-- /footer-copyright -->  
</footer>
<a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop">Back to top <span class="icon icon-expand_less"></span></a>
<!-- END FOOTER section -->